#app{
    display: flex;
    flex-wrap: wrap;
}

body{
    background-color: #c5dbcf;
}

.quad {
    flex: 1 1 50%;
}

.row{
    display: flex;
}

// Icons

button{
    color: rgb(0, 81, 128);
    background-color: transparent;
    border: none;
    font-size: 2em;
    padding: 2px 15px;
}

// Section Titles

.category{
    color: #77918365;
    font-size: 6em;
    font-weight: inherit;
    position: absolute;
}

#eat .category{
    top: 5%;
    left: 5%;
}

#play .category{
    top: 5%;
    right: 5%;
}

// Justify Play & Sleep Right

.rightDiv{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

// Progress Bars

#fullScore{
    margin-top: 7px;
}

#funScore{
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
}

.progressBar{
    background-color: rgba(0, 81, 128, 0.616);
    border: 1px solid dimgrey;
    border-radius: 20px;
    margin-right: 5px;
    width: 40%;
}

#eatBarPercent, #playBarPercent{
    background-color: #84b368fd;
    border-radius: 20px;
    height: 100%;
}

#eatBarPercent{
    width: 100%;

}

#playBarPercent{
    width: 50%;

}